@import "../../variables.scss";
@import "../../mixins.scss";

.iconsBar {
  display: flex;
  margin: 10px 10%;
  justify-content: space-around;

  @include mq(phone-wide, max) {
    margin: 0;
  }

  img,
  object {
    // pointer-events: none;
    height: 110px;

    @include mq(desktop, max) {
      height: 90px;
    }

    @include mq(tablet-wide, max) {
      height: 80px;
    }

    @include mq(tablet, max) {
      height: 60px;
    }
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;

    @include mq(phone-wide, max) {
      padding: 0 40px;
    }



    li {
      position: relative;
      cursor: pointer;
      width: 110px;
      height: 110px;
      margin: 5px;
      padding: 0;

      &:last-child {
        width: auto;
      }

      @include mq(desktop, max) {
        width: 90px;
        height: 90px;
      }

      @include mq(tablet-wide, max) {
        width: 80px;
        height: 80px;
      }

      @include mq(tablet, max) {
        width: 60px;
        height: 60px;
      }
    }
  }
}

.showModalOff {
  display: none;
  opacity: 0;
}

.showModalOn {
  display: block;
}

.shadow {
  filter: drop-shadow(0 1px 0px #663ab2);
  transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  -webkit-transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  -moz-transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  -ms-transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.shadow:hover {
  filter: none;
}

.button {
  background: none;
  padding: 0;
  margin: 0;
  border: none;
}