@import "../../variables.scss";
@import "../../mixins.scss";

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 700px;

  @include mq(phone-wide, max) {
    height: 600px;
  }

  @include mq(phone, max) {
    height: 560px;
  }
}

.arrow {
  width: 20px;
  pointer-events: fill;
}

.nextArrow {
  filter: drop-shadow(1px 1px 1.5px #69696970);
  -webkit-filter: drop-shadow(1px 1px 1.5px #69696970);

  &:hover {
    filter: none;
  }

}

.prevArrow {
  filter: drop-shadow(2px 1px 1.5px #69696970);
  -webkit-filter: drop-shadow(2px 1px 1.5px #69696970);

  &:hover {
    filter: none;
  }
}

.nextArrow {
  margin-right: 16px;
  transform: scaleX(-1);
  cursor: pointer;

  @include mq(tablet-small, min) {
    margin-right: 36px;
  }

  @include mq(desktop-wide, max) {
    display: flex;
    align-items: center;
  }
}

.prevArrow {
  margin-left: 16px;
  cursor: pointer;

  @include mq(tablet-small, min) {
    margin-left: 36px;
  }

  @include mq(desktop-wide, max) {
    display: flex;
    align-items: center;
  }
}

.navDots {
  position: absolute;
  z-index: 100;
  bottom: 16px;
  width: 250px;
  height: 16px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  left: 0;
  right: 0;

  @include mq(phone, max) {
    width: auto;
  }
}

.dots {
  z-index: 100;
  display: flex;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.dot {
  width: 45px;
  cursor: pointer;
  user-select: none;
  filter: drop-shadow(0 1px 1px #69696970);
  -webkit-filter: drop-shadow(0 1px 1px #69696970);

  &:hover {
    filter: none;
  }
}