@import "mixins.scss";

ul {
  list-style-type: none;
  display: flex;
  outline: none;

  li {
    margin: 0 20px;
    height: 2rem;

    @include mq(desktop, max) {
      margin: 0 15px;
    }

    &:hover a {
      transform: scale(1.2);
      transition: transform 200ms ease-in-out 0s;
      cursor: pointer;
      backface-visibility: hidden;
      -webkit-filter: blur(0);
      transform: translateZ(0);
    }

    &:not(:hover) a {
      transition: transform 300ms ease-in-out 0.1s;
    }

    a {
      display: inline-block;
      font-family: $font-title;
      text-decoration-line: none;
      text-transform: uppercase;
      font-size: 1.2rem;
      letter-spacing: 2px;
      padding: 0.3rem 0.3rem 0 0.3rem;
      transition: width 1000ms ease-in-out 0s;

      &:after {
        border-bottom: 1px solid $accent-second-color;
        content: "";
        display: block;
        margin: 0.25em auto 0;
        transition: translateX 250ms ease-in-out 0s;
        -webkit-transition: translateX 250ms ease-in-out 0s;
        -moz-transition: translateX 250ms ease-in-out 0s;
        -ms-transition: translateX 250ms ease-in-out 0s;
        -o-transition: translateX 250ms ease-in-out 0s;
      }

      &:hover:after {
        transition: translateX (100%) 100ms ease-in-out 0s;
        -webkit-transition: translateX (100%) 100ms ease-in-out 0s;
        -moz-transition: translateX (100%) 100ms ease-in-out 0s;
        -ms-transition: translateX (100%) 100ms ease-in-out 0s;
        -o-transition: translateX (100%) 100ms ease-in-out 0s;
      }
    }
  }
}