@import "../variables.scss";
@import "../mixins.scss";

.sectionContact {
  background-image: url(./img/contact_bg.jpg);
  background-size: 100% auto;
  background-position: left top;
  background-repeat: no-repeat;
  padding: 18vw 200px 5vw;
  display: flex;
  justify-content: space-around;

  @include mq(desktop-wide, max) {
    background-image: url(./img/contact_bg1248.jpg);
    padding: 18vw 100px 5vw;
    justify-content: space-evenly;
  }

  @include mq(tablet-wide, max) {
    flex-direction: column;
    align-items: center;
    background-image: url(./img/contact_bg1024.jpg);
    padding: 18vw 0 5vw;
  }

  @include mq(tablet, max) {
    background-image: url(./img/contact_bg768.jpg);
  }

  @include mq(phone-wide, max) {
    background-image: url(./img/contact_bg480.jpg);
  }

  .titleContact {
    @include mq(tablet-wide, max) {
      text-align: center;
      margin-bottom: 50px;
    }
  }

  h2 {
    @include titleH2;
    text-align: left;
    margin: 0 0 3rem;
    color: $main-bg-color;

    @include mq(tablet-wide, max) {
      text-align: center;
    }
  }

  a {
    color: $text-color;
    font-size: 1.2rem;
    color: $main-bg-color;

    &::before {
      @include pseudo;
      width: 28px;
      height: 28px;
      margin-left: -45px;
      background: url(./img/email.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;

      @include mq(desktop-wide, max) {
        width: 20px;
        height: 22px;
        margin-left: -30px;
      }

      @include mq(tablet, max) {
        width: 16px;
        height: 18px;
        margin-left: -25px;
      }
    }

    @include mq(tablet-wide, max) {
      margin-bottom: 50px;
    }
  }

  .contactForm {
    display: flex;
    flex-direction: column;
    width: 30vw;
    background: $main-bg-color;
    padding: 3rem 30px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    @include mq(tablet-wide, max) {
      width: 320px;
    }

    @include mq(phone-wide, max) {
      width: 240px;
    }

    label,
    input {
      display: flex;
      flex-direction: column;
    }
  }


  label {
    font-size: 1.2rem;
    margin: 1rem 0 0.5rem;
    color: $text-grey;

    @include mq(phone-wide, max) {
      font-size: 1.1rem;
    }
  }

  input {
    width: 280px;
    height: 2rem;
    padding-left: 5px;
    border-radius: 5px;
    border: 1px solid #80808080;

    &:focus::-webkit-input-placeholder {
      color: transparent;
    }

    @include mq(phone-wide, max) {
      width: 200px;
      height: 1.8rem;
      font-size: 1.2rem;
    }
  }

  .textarea {
    width: 320px;
    height: 100px;
    padding-left: 5px;
    border-radius: 5px;
    border: 1px solid #80808080;

    &:focus::-webkit-input-placeholder {
      color: transparent;
    }

    @include mq(phone-wide, max) {
      width: 240px;
      height: 84px;
      font-size: 1.2rem;
    }
  }

  button {
    @include button;
    margin-top: 2rem;

    @include mq(phone-wide, max) {
      font-size: 1.1rem;
      width: 70px;
      height: 26px;
    }
  }
}

@keyframes shake {

  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  animation-name: shake;
}

.error .text-input {
  border-color: $accent-second-color;
}

.error label {
  color: red;
}

.inputFeedback,
.error {
  color: $accent-second-color;
}