@import "../variables.scss";
@import "../mixins.scss";

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100vh;
  background: $main-bg-color;
  font-family: $font-title;
  background-image: url(./img/header_1400.jpg);
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;

  @include mq(desktop, max) {
    background-image: url(./img/header_tablet.jpg);
    height: auto;
    padding: 6vh 0px 12vh;
  }

  @include mq(tablet, max) {
    background-image: url(./img/header_mobile.jpg);
  }

  @include mq(phone, max) {
    background-image: url(./img/header_mobile400.jpg);
  }

  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 50vw;
    padding: 50px 2% 0 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    @include mq(tablet-wide, max) {
      display: none;
    }

    a {
      color: $second-bg-color;
    }
  }

  .titleContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 40vw;
    margin-left: 10vw;
    padding-top: 7vh;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;


    @include mq(desktop, max) {
      padding-top: 4vh;
    }

    @include mq(tablet, max) {
      width: 60vw;
    }

    @include mq(phone-wide, max) {
      margin-left: 20vw;
    }

    p {
      @include paragraf;
      max-width: 520px;
      padding-top: 50px;

      @include mq(tablet-wide, max) {
        padding-top: 20px;
      }

      @include mq(tablet, max) {
        max-width: 345px;
      }

      @include mq(phablet, max) {
        max-width: 280px;
        padding-top: 30px;
      }

      @include mq(phone, max) {
        max-width: 60vw;
      }
    }

    .title {
      position: relative;
      font-size: 4rem;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: baseline;
      -ms-flex-align: baseline;
      align-items: baseline;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      font-weight: 100;
      width: auto;
      background: -webkit-gradient(linear,
          left top, left bottom,
          color-stop(40%, $accent-color-dark),
          to($accent-second-color));
      background: linear-gradient(to bottom,
          $accent-color-dark 40%,
          $accent-second-color 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin: 10px 0;

      &:before {
        position: absolute;
        content: "";
        background: #cd49a9;
        width: 100%;
        height: 1px;
        bottom: -2px;
      }

      @include mq(desktop, max) {
        font-size: 3rem;
      }

      @include mq(tablet-small, max) {
        font-size: 2.5rem;
      }

      @include mq(phablet, max) {
        font-size: 2rem;
      }

      span {
        padding-right: 20px;

        @include mq(tablet-small, max) {
          padding-right: 10px;
        }
      }
    }

    span {
      font-family: "Quicksand", sans-serif;
      font-size: 2rem;
      text-transform: none;
      color: $accent-color-dark;

      @include mq(desktop, max) {
        font-size: 1.5rem;
      }

      @include mq(tablet-small, max) {
        font-size: 1.4rem;
      }

      @include mq(phablet, max) {
        font-size: 1.2rem;
      }
    }
  }

  .titleContainer>span:last-of-type {
    margin-left: 197px;

    @include mq(desktop, max) {
      margin-left: 138px;
    }

    @include mq(tablet, max) {
      margin-left: 122px;
    }

    @include mq(tablet, max) {
      margin-left: 90px;
    }

    @include mq(tablet, max) {
      margin-left: 66px;
    }
  }

  .iconGitLab {
    display: flex;
    align-items: center;
    width: auto;
    padding: 5px 14px 5px 6px;
    margin: 8vh 0 0 199px;
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
    color: #5600a0;
    border-radius: 4px;
    background: #fdfcff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    img {
      width: auto;
      height: 1.6rem;
      padding-right: 10px;
    }

    &:hover {
      box-shadow: none;
      background: #03030317;
    }

    @include mq(desktop, max) {
      margin: 4vh auto 0;
    }

    @include mq(tablet-wide, max) {
      margin: 2vh auto 0;
    }
  }

  .headerPict {
    display: relative;
    position: absolute;
    width: 30%;
    height: auto;
    right: 8vw;
    bottom: 15vh;

    @include mq(tablet, max) {
      display: none;
    }
  }

  .arrowDown {
    position: absolute;
    bottom: 5vh;
    width: 15px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg);
    -webkit-animation: jumping 1s ease-in-out infinite alternate;
    animation: jumping 1s ease-in-out infinite alternate;

    @include mq(phablet, max) {
      width: 10px;
    }

  }

  @keyframes jumping {
    0% {
      transform: translateY(5px) translate(-50%, -50%) rotate(90deg);
    }

    100% {
      transform: translateY(-5px) translate(-50%, -50%) rotate(90deg);
    }
  }
}