@import "../mixins.scss";

.bmBurgerButton {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 50px;
  top: 50px;

  @include mq(tablet, max) {
    width: 50px;
    height: 50px;
  }

  @include mq(tablet-small, max) {
    width: 40px;
    height: 40px;
  }

  @include mq(phablet, max) {
    width: 30px;
    height: 30px;
    right: 30px;
    top: 30px;
  }

  @include mq(phone, max) {
    right: 15px;
    top: 20px;
  }
}

.bmBurgerButton object {
  -webkit-filter: drop-shadow(0px 2px 4px #4d298c6b);
  filter: drop-shadow(0px 2px 4px #4d298c6b);
  -webkit-transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);

  &:hover svg {
    -webkit-filter: none;
    filter: none;
  }
}

.bmCrossButton {
  top: 20px !important;
  right: 20px !important;
  width: 30px !important;
  height: 30px !important;
  -webkit-filter: drop-shadow(0px 0.5px 2px #4d298c6b);
  filter: drop-shadow(0px 0.5px 2px #4d298c6b);

  @include mq(tablet, max) {
    width: 30px !important;
    height: 30px !important;
  }

  @include mq(tablet-small, max) {
    width: 25px !important;
    height: 25px !important;
  }

  @include mq(phablet, max) {
    width: 25px !important;
    height: 25px !important;
  }
}

.outerContainer {
  height: 100vh;
}

.bgMenu {
  background: #ffffff !important;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  overflow: hidden;
}

.bmItemList {
  color: #000000 !important;
  padding: 0.8em;
  height: auto !important;
}

nav {
  height: auto !important;
}

.bmItem {
  display: inline-block;
}

.bmOverlay {
  background: rgba(62, 23, 168, 0.3) !important;
}

.menuContainer {
  background: $main-bg-color !important;
  width: 300px;
  transition: none !important;

  @include mq(tablet, max) {
    width: 200px !important;
  }

  @include mq(phone, max) {
    margin-left: 100px !important;
  }

  nav {
    margin-top: calc(60px + 10vh);
  }

  ul {
    list-style-type: none;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    outline: none;
    padding: 0;

    li {
      margin: 0 20px;
      height: 3rem;
      text-align: center;

      @include mq(desktop, max) {
        margin: 0 15px;
      }

      &:hover a {
        transform: scale(1.2);
        transition: transform 100ms ease-in-out 0s;
        -webkit-transition: transform 100ms ease-in-out 0s;
        -moz-transition: transform 100ms ease-in-out 0s;
        -ms-transition: transform 100ms ease-in-out 0s;
        -o-transition: transform 100ms ease-in-out 0s;
        cursor: pointer;
      }

      &:not(:hover) a {
        transition: transform 300ms ease-in-out 0.1s;
      }

      a {
        display: inline-block;
        position: relative;
        font-family: $font-title;
        text-decoration-line: none;
        text-transform: uppercase;
        font-size: 1.2rem;
        letter-spacing: 2px;
        padding: 0.3rem 0.3rem 0 0.3rem;
        transform: scale(0.8, 0.8);
        -webkit-font-smoothing: antialiased;
        -webkit-perspective: 1000;
        -moz-osx-font-smoothing: grayscale;
        will-change: auto;
        -webkit-filter: blur(0);

        &:after {
          content: "";
          position: absolute;
          display: block;
          margin: 0.25em auto 0;
          width: 100%;
          height: 3px;
          bottom: 0;
          left: 0;
          background-color: $accent-second-color;
          visibility: hidden;
          transform: scaleX(0);
          transition: transform 0.3s ease-in-out;
        }

        &:hover:after {
          visibility: visible;
          transform: scaleX(1);
        }
      }
    }
  }
}

.pageWrap {
  height: 100%;
  overflow: auto;
}