@import url("https://fonts.googleapis.com/css?family=Anton|Quicksand");
@import "components/variables.scss";
@import "components/mixins.scss";

html,
body,
#root,
#app {
  height: 100%;
}

html {
  font-size: 20px;

  @include mq(desktop-wide, max) {
    font-size: 16px;
  }

  @include mq(desktop, max) {
    font-size: 14px;
  }

  @include mq(tablet, max) {
    font-size: 12px;
  }

  @include mq(phone, max) {
    font-size: 11px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-article;
  overflow: hidden;
}

#root {
  height: 100%;
}

:focus {
  outline: 2px solid $accent-second-color;
}